/* Tailwindv4対応 */
@reference '../../../app/globals.css';

:root {
  --fc-border-color: lightgray;
  --fc-page-bg-color: none;
}
.dark {
  --fc-border-color: gray;
}

/* Removing borders */

.fc-scrollgrid {
  @apply border-none;
}

.fc tbody tr:last-child td:first-child {
  @apply border-l-0;
}

.fc tbody tr:last-child td:last-child {
  @apply border-r-0 border-b-0;
}

.fc-theme-standard th {
  @apply border-r-0;
}

/* Setting header size */

.fc-col-header-cell-cushion {
  @apply flex h-[56px] items-center;
}

/* Setting left time size */

.fc-timegrid-slot {
  @apply h-[28px];
}

.fc-timegrid-slot-label-cushion {
  @apply text-xs font-light;
}

/* Setting cell colors */

td.fc-daygrid-day.fc-day {
  @apply hover:bg-secondary;
}

td.fc-daygrid-day.fc-day.fc-day-today {
  @apply bg-secondary-foreground;
}

.fc-day-today {
  @apply bg-inherit;
}

.fc-day-other {
  @apply dark:bg-secondary bg-gray-200;
}

.fc-daygrid-day-top {
  @apply flex h-[16px] w-full flex-row items-center;
}

.fc-daygrid-dot-event {
  @apply hover:bg-blue-50;
}

.fc-daygrid-event-harness {
  @apply pr-2 transition-all hover:scale-[1.02] hover:cursor-pointer hover:bg-none;
}

.fc-timegrid-event-harness {
  @apply hover:cursor-pointer hover:bg-none;
}

.fc-event-main {
  @apply flex h-full w-full;
}

.fc-event {
  @apply flex min-w-full border-none;
}

.fc-daygrid-event {
  @apply mx-1;
}

.fc-timegrid-event {
  @apply px-1;
}

td.fc-daygrid-day.fc-day {
  pointer-events: none;
}

.fc-event {
  pointer-events: all;
  cursor: pointer;
  z-index: 10;
}

.fc-daygrid-event-harness {
  pointer-events: all;
}

.fc-daygrid-day-top {
  pointer-events: none;
}
